In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
cat_df=df.select_dtypes('category')

In [5]:
## encoding

In [6]:
encoded_cat_df=pd.get_dummies(cat_df,drop_first=True,dtype=int)

In [7]:
encoded_cat_df

     sex_Female  smoker_No  day_Fri  day_Sat  day_Sun  time_Dinner
0             1          1        0        0        1            1
1             0          1        0        0        1            1
2             0          1        0        0        1            1
3             0          1        0        0        1            1
4             1          1        0        0        1            1
..          ...        ...      ...      ...      ...          ...
239           0          1        0        1        0            1
240           1          0        0        1        0            1
241           0          0        0        1        0            1
242           0          1        0        1        0            1
243           1          1        0        0        0            1

[244 rows x 6 columns]

In [8]:
df_1=df.select_dtypes('number')

In [9]:
df_1

     total_bill   tip  size
0         16.99  1.01     2
1         10.34  1.66     3
2         21.01  3.50     3
3         23.68  3.31     2
4         24.59  3.61     4
..          ...   ...   ...
239       29.03  5.92     3
240       27.18  2.00     2
241       22.67  2.00     2
242       17.82  1.75     2
243       18.78  3.00     2

[244 rows x 3 columns]

In [10]:
final_df=pd.concat([encoded_cat_df,df_1],axis=1)

In [11]:
final_df

,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner,total_bill,tip,size
0,1,1,0,0,1,1,16.99,1.01,2
1,0,1,0,0,1,1,10.34,1.66,3
2,0,1,0,0,1,1,21.01,3.50,3
3,0,1,0,0,1,1,23.68,3.31,2
4,1,1,0,0,1,1,24.59,3.61,4
...,...,...,...,...,...,...,...,...,...
239,0,1,0,1,0,1,29.03,5.92,3
240,1,0,0,1,0,1,27.18,2.00,2
241,0,0,0,1,0,1,22.67,2.00,2
242,0,1,0,1,0,1,17.82,1.75,2
243,1,1,0,0,0,1,18.78,3.00,2

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
train_data,test_data=train_test_split(final_df,test_size=0.2,random_state=78)

In [14]:
train_data

,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner,total_bill,tip,size
147,1,1,0,0,0,0,11.87,1.63,2
55,0,1,0,0,1,1,19.49,3.51,2
61,0,0,0,1,0,1,13.81,2.00,2
111,1,1,0,1,0,1,7.25,1.00,1
161,0,1,0,0,1,1,12.66,2.50,2
...,...,...,...,...,...,...,...,...,...
105,0,0,0,1,0,1,15.36,1.64,2
40,0,1,0,1,0,1,16.04,2.24,3
151,0,1,0,0,1,1,13.13,2.00,2
214,1,0,0,1,0,1,28.17,6.50,3
197,1,0,0,0,0,0,43.11,5.00,4

In [15]:
test_data

,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner,total_bill,tip,size
125,1,1,0,0,0,0,29.80,4.20,6
210,0,0,0,1,0,1,30.06,2.00,3
92,1,0,1,0,0,1,5.75,1.00,2
19,0,1,0,1,0,1,20.65,3.35,3
51,1,1,0,0,1,1,10.29,2.60,2
98,0,0,1,0,0,1,21.01,3.00,2
240,1,0,0,1,0,1,27.18,2.00,2
132,1,1,0,0,0,0,11.17,1.50,2
80,0,0,0,0,0,0,19.44,3.00,2
165,0,1,0,0,1,1,24.52,3.48,3
4,1,1,0,0,1,1,24.59,3.61,4
6,0,1,0,0,1,1,8.77,2.00,2
65,0,1,0,1,0,1,20.08,3.15,3
236,0,0,0,1,0,1,12.60,1.00,2
69,0,0,0,1,0,1,15.01,2.09,2
91,0,1,1,0,0,1,22.49,3.50,2
42,0,1,0,0,1,1,13.94,3.06,2
70,0,1,0,1,0,1,12.02,1.97,2
2,0,1,0,0,1,1,21.01,3.50,3
171,0,0,0,1,0,1,15.81,3.16,2
215,1,0,0,1,0,1,12.90,1.10,2
75,0,1,0,1,0,1,10.51,1.25,2
242,0,1,0,1,0,1,17.82,1.75,2
195,0,1,0,0,0,0,7.56,1.44,2
24,0,1,0,1,0,1,19.82,3.18,2
160,0,1,0,0,1,1,21.50,3.50,4
157,1,1,0,0,1,1,25.00,3.75,4
200,0,0,0,0,0,0,18.71,4.00,3
137,1,1,0,0,0,0,14.15,2.00,2
27,0,1,0,1,0,1,12.69,2.00,2
16,1,1,0,0,1,1,10.33,1.67,3
107,0,0,0,1,0,1,25.21,4.29,2
121,1,1,0,0,0,0,13.42,1.68,2
221,1,0,1,0,0,0,13.42,3.48,2
149,0,1,0,0,0,0,7.51,2.00,2
114,1,1,0,0,1,1,25.71,4.00,3
94,1,1,1,0,0,1,22.75,3.25,2
146,1,1,0,0,0,0,18.64,1.36,3
233,0,1,0,1,0,1,10.77,1.47,2
209,1,0,0,1,0,1,12.76,2.23,2
207,0,0,0,1,0,1,38.73,3.00,4
56,0,0,0,1,0,1,38.01,3.00,4
201,1,0,0,0,0,0,12.74,2.01,2
10,0,1,0,0,1,1,10.27,1.71,2
95,0,0,1,0,0,1,40.17,4.73,4
174,0,0,0,0,1,1,16.82,4.00,2
164,1,0,0,0,1,1,17.51,3.00,2
181,0,0,0,0,1,1,23.33,5.65,2
64,0,1,0,1,0,1,17.59,2.64,3

In [16]:
import statsmodels.formula.api as smf

In [17]:
final_df.columns

Index(['sex_Female', 'smoker_No', 'day_Fri', 'day_Sat', 'day_Sun',
       'time_Dinner', 'total_bill', 'tip', 'size'],
      dtype='object')

In [18]:
'+'.join(final_df.columns)

'sex_Female+smoker_No+day_Fri+day_Sat+day_Sun+time_Dinner+total_bill+tip+size'

In [19]:
formula='tip~sex_Female+smoker_No+day_Fri+day_Sat+day_Sun+time_Dinner+total_bill+size'

In [20]:
model=smf.ols(formula,train_data)

In [21]:
model=model.fit()

In [22]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.486
Model:                            OLS   Adj. R-squared:                  0.464
Method:                 Least Squares   F-statistic:                     21.99
Date:                Tue, 08 Oct 2024   Prob (F-statistic):           2.21e-23
Time:                        13:02:08   Log-Likelihood:                -282.99
No. Observations:                 195   AIC:                             584.0
Df Residuals:                     186   BIC:                             613.4
Df Model:                           8
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.4352      0.293      1.486      0.139      -0.142       1.013
sex_Female      0.0833      0.165      0.505      0.614      -0.242       0.408
smoker_No       0.1137      0.169      0.673      0.502      -0.220       0.447
day_Fri         0.0286      0.438      0.065      0.948      -0.836       0.893
day_Sat        -0.0750      0.546     -0.137      0.891      -1.151       1.001
day_Sun        -0.2161      0.549     -0.393      0.694      -1.299       0.867
time_Dinner     0.1530      0.518      0.295      0.768      -0.869       1.175
total_bill      0.0954      0.011      8.996      0.000       0.074       0.116
size            0.2331      0.099      2.349      0.020       0.037       0.429
==============================================================================
Omnibus:                       21.926   Durbin-Watson:                   2.424
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.141
Skew:                           0.574   Prob(JB):                     1.92e-09
Kurtosis:                       4.904   Cond. No.                         283.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
model1= smf.ols(formula,train_data).fit()

In [24]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.486
Model:                            OLS   Adj. R-squared:                  0.464
Method:                 Least Squares   F-statistic:                     21.99
Date:                Tue, 08 Oct 2024   Prob (F-statistic):           2.21e-23
Time:                        13:02:08   Log-Likelihood:                -282.99
No. Observations:                 195   AIC:                             584.0
Df Residuals:                     186   BIC:                             613.4
Df Model:                           8
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.4352      0.293      1.486      0.139      -0.142       1.013
sex_Female      0.0833      0.165      0.505      0.614      -0.242       0.408
smoker_No       0.1137      0.169      0.673      0.502      -0.220       0.447
day_Fri         0.0286      0.438      0.065      0.948      -0.836       0.893
day_Sat        -0.0750      0.546     -0.137      0.891      -1.151       1.001
day_Sun        -0.2161      0.549     -0.393      0.694      -1.299       0.867
time_Dinner     0.1530      0.518      0.295      0.768      -0.869       1.175
total_bill      0.0954      0.011      8.996      0.000       0.074       0.116
size            0.2331      0.099      2.349      0.020       0.037       0.429
==============================================================================
Omnibus:                       21.926   Durbin-Watson:                   2.424
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.141
Skew:                           0.574   Prob(JB):                     1.92e-09
Kurtosis:                       4.904   Cond. No.                         283.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
## @@ we will check for the signifincance with the p critical and p value and R squared

In [26]:
## we will alway choose the signicant colums / where p value is greater the p critical

In [27]:
## since there are only two significant values that size and total_bill
## we will make a new model to improve the model

In [28]:
final_df.columns

Index(['sex_Female', 'smoker_No', 'day_Fri', 'day_Sat', 'day_Sun',
       'time_Dinner', 'total_bill', 'tip', 'size'],
      dtype='object')

In [29]:
formul2='tip~total_bill+size'

In [30]:
model2=smf.ols(formul2,train_data).fit()

In [31]:
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    tip   R-squared:                       0.482
Model:                            OLS   Adj. R-squared:                  0.477
Method:                 Least Squares   F-statistic:                     89.44
Date:                Tue, 08 Oct 2024   Prob (F-statistic):           3.55e-28
Time:                        13:02:08   Log-Likelihood:                -283.70
No. Observations:                 195   AIC:                             573.4
Df Residuals:                     192   BIC:                             583.2
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5846      0.221      2.643      0.009       0.148       1.021
total_bill     0.0940      0.010      9.241      0.000       0.074       0.114
size           0.2314      0.095      2.433      0.016       0.044       0.419
==============================================================================
Omnibus:                       19.105   Durbin-Watson:                   2.434
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.412
Skew:                           0.517   Prob(JB):                     5.55e-08
Kurtosis:                       4.745   Cond. No.                         68.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
## Here the performace is boosted as R squared has increase 
## R squared is the goodness of fit

In [33]:
## always check the signicance with the p value and p critical(0.05)

In [34]:
train_predict=model2.predict()

In [35]:
test_predict=model2.predict(test_data)

In [36]:
train_data['Prediction']=train_predict

In [37]:
test_data['Prediction']=test_predict

In [38]:
train_data

,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner,total_bill,tip,size,Prediction
147,1,1,0,0,0,0,11.87,1.63,2,2.162878
55,0,1,0,0,1,1,19.49,3.51,2,2.879022
61,0,0,0,1,0,1,13.81,2.00,2,2.345203
111,1,1,0,1,0,1,7.25,1.00,1,1.497326
161,0,1,0,0,1,1,12.66,2.50,2,2.237124
...,...,...,...,...,...,...,...,...,...,...
105,0,0,0,1,0,1,15.36,1.64,2,2.490876
40,0,1,0,1,0,1,16.04,2.24,3,2.786138
151,0,1,0,0,1,1,13.13,2.00,2,2.281296
214,1,0,0,1,0,1,28.17,6.50,3,3.926141
197,1,0,0,0,0,0,43.11,5.00,4,5.561588

In [39]:
test_data

,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner,total_bill,tip,size,Prediction
125,1,1,0,0,0,0,29.80,4.20,6,4.773395
210,0,0,0,1,0,1,30.06,2.00,3,4.103767
92,1,0,1,0,0,1,5.75,1.00,2,1.587708
19,0,1,0,1,0,1,20.65,3.35,3,3.219395
51,1,1,0,0,1,1,10.29,2.60,2,2.014386
98,0,0,1,0,0,1,21.01,3.00,2,3.021875
240,1,0,0,1,0,1,27.18,2.00,2,3.601744
132,1,1,0,0,0,0,11.17,1.50,2,2.097091
80,0,0,0,0,0,0,19.44,3.00,2,2.874323
165,0,1,0,0,1,1,24.52,3.48,3,3.583106
4,1,1,0,0,1,1,24.59,3.61,4,3.821039
6,0,1,0,0,1,1,8.77,2.00,2,1.871534
65,0,1,0,1,0,1,20.08,3.15,3,3.165826
236,0,0,0,1,0,1,12.60,1.00,2,2.231485
69,0,0,0,1,0,1,15.01,2.09,2,2.457982
91,0,1,1,0,0,1,22.49,3.50,2,3.160968
42,0,1,0,0,1,1,13.94,3.06,2,2.357421
70,0,1,0,1,0,1,12.02,1.97,2,2.176975
2,0,1,0,0,1,1,21.01,3.50,3,3.253229
171,0,0,0,1,0,1,15.81,3.16,2,2.533168
215,1,0,0,1,0,1,12.90,1.10,2,2.259680
75,0,1,0,1,0,1,10.51,1.25,2,2.035062
242,0,1,0,1,0,1,17.82,1.75,2,2.722072
195,0,1,0,0,0,0,7.56,1.44,2,1.757815
24,0,1,0,1,0,1,19.82,3.18,2,2.910036
160,0,1,0,0,1,1,21.50,3.50,4,3.530635
157,1,1,0,0,1,1,25.00,3.75,4,3.859572
200,0,0,0,0,0,0,18.71,4.00,3,3.037070
137,1,1,0,0,0,0,14.15,2.00,2,2.377157
27,0,1,0,1,0,1,12.69,2.00,2,2.239943
16,1,1,0,0,1,1,10.33,1.67,3,2.249500
107,0,0,0,1,0,1,25.21,4.29,2,3.416600
121,1,1,0,0,0,0,13.42,1.68,2,2.308550
221,1,0,1,0,0,0,13.42,3.48,2,2.308550
149,0,1,0,0,0,0,7.51,2.00,2,1.753116
114,1,1,0,0,1,1,25.71,4.00,3,3.694945
94,1,1,1,0,0,1,22.75,3.25,2,3.185404
146,1,1,0,0,0,0,18.64,1.36,3,3.030491
233,0,1,0,1,0,1,10.77,1.47,2,2.059498
209,1,0,0,1,0,1,12.76,2.23,2,2.246522
207,0,0,0,1,0,1,38.73,3.00,4,5.149947
56,0,0,0,1,0,1,38.01,3.00,4,5.082279
201,1,0,0,0,0,0,12.74,2.01,2,2.244643
10,0,1,0,0,1,1,10.27,1.71,2,2.012507
95,0,0,1,0,0,1,40.17,4.73,4,5.285281
174,0,0,0,0,1,1,16.82,4.00,2,2.628090
164,1,0,0,0,1,1,17.51,3.00,2,2.692937
181,0,0,0,0,1,1,23.33,5.65,2,3.239913
64,0,1,0,1,0,1,17.59,2.64,3,2.931810

### Checking for the metrics

In [40]:
import sklearn.metrics as metrics

In [41]:
print(dir(metrics))

['ConfusionMatrixDisplay', 'DetCurveDisplay', 'DistanceMetric', 'PrecisionRecallDisplay', 'PredictionErrorDisplay', 'RocCurveDisplay', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_base', '_classification', '_dist_metrics', '_pairwise_distances_reduction', '_pairwise_fast', '_plot', '_ranking', '_regression', '_scorer', 'accuracy_score', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'auc', 'average_precision_score', 'balanced_accuracy_score', 'brier_score_loss', 'calinski_harabasz_score', 'check_scoring', 'class_likelihood_ratios', 'classification_report', 'cluster', 'cohen_kappa_score', 'completeness_score', 'confusion_matrix', 'consensus_score', 'coverage_error', 'd2_absolute_error_score', 'd2_pinball_score', 'd2_tweedie_score', 'davies_bouldin_score', 'dcg_score', 'det_curve', 'euclidean_distances', 'explained_variance_score', 'f1_score', 'fbeta_score', 'fowlkes_mallows_score', 'get_scorer', 'get_scorer_names', 'hamming_loss', 'hinge_loss', 'homogeneity_completeness_v_measure', 'homogeneity_score', 'jaccard_score', 'label_ranking_average_precision_score', 'label_ranking_loss', 'log_loss', 'make_scorer', 'matthews_corrcoef', 'max_error', 'mean_absolute_error', 'mean_absolute_percentage_error', 'mean_gamma_deviance', 'mean_pinball_loss', 'mean_poisson_deviance', 'mean_squared_error', 'mean_squared_log_error', 'mean_tweedie_deviance', 'median_absolute_error', 'multilabel_confusion_matrix', 'mutual_info_score', 'nan_euclidean_distances', 'ndcg_score', 'normalized_mutual_info_score', 'pair_confusion_matrix', 'pairwise', 'pairwise_distances', 'pairwise_distances_argmin', 'pairwise_distances_argmin_min', 'pairwise_distances_chunked', 'pairwise_kernels', 'precision_recall_curve', 'precision_recall_fscore_support', 'precision_score', 'r2_score', 'rand_score', 'recall_score', 'roc_auc_score', 'roc_curve', 'silhouette_samples', 'silhouette_score', 'top_k_accuracy_score', 'v_measure_score', 'zero_one_loss']

In [42]:
metrics.mean_squared_error(train_data.tip,train_data.Prediction)

1.0745652898269311

In [43]:
metrics.mean_squared_error(test_data.tip,test_data.Prediction)

0.7937381479376592